<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github Notificator</title>
</head>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        let git_readme = null;
        let issue_list = null;
        let full_request_list = null;

        $("#prepare").val("준비중 ...");

        $("#insert_button").click(function() {
            // $("#prepare").remove();
            $.ajax({
                type: "POST",
                url: "/input",
                data: {user: $("#insert_user").val(), repo: $("#insert_repo").val()},
                dataType: "JSON",
                success: function(data) {
                    git_readme = data["git_readme"];
                    issue_list = data["issue_list"];
                    full_request_list = data["full_request_list"];

                    console.log(git_readme, issue_list, full_request_list);

                    showGitReadMe(git_readme);
                    // showIssueList(issue_list);
                    // showFullRequestList(full_request_list);
                },
                error: function (xhr, status, error) {
                    console.log("Error 발생");
                    console.log(error);
                }
            })
        });

        $("#change_readme").click(function() {
            showGitReadMe(git_readme)
        });

        $("#change_issue").click(function() {
            showIssueList(issue_list)
        });

        $("#change_full_request").click(function() {
            showFullRequestList(full_request_list)
        });

        function showGitReadMe(git_readme) {
            $("#prepare").replaceWith("<div id='prepare'></div>");
            let div_html = $("#prepare").html(git_readme);
            $("#show").after(div_html)
        }

        function showIssueList(issue_list) {
            $("#prepare").replaceWith("<ul id='prepare'></ul>");

            issue_list.forEach(issue => {
                $("#prepare").append("<li>" + issue + "</li>");
            })
        }

        function showFullRequestList(full_request_list) {
            $("#prepare").replaceWith("<ul id='prepare'></ul>");

            full_request_list.forEach(full_request => {
                $("#prepare").append("<li>" + full_request + "</li>");
            })
        }
    })
</script>
<body>
    <div id="insert">
        <label><input type="text" id="insert_user" placeholder="User"/></label>
        <label><input type="text" id="insert_repo" placeholder="Repository"/></label>
        <button id="insert_button">호출</button>
    </div>
    <div>
        <button id="change_readme">Readme 보기</button>
        <button id="change_issue">Issue 확인</button>
        <button id="change_full_request">Full request 확인</button>
    </div>
    <div id="show">
        <div id="prepare"></div>
    </div>
</body>
</html>