<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github Notificator</title>
</head>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        let git_readme = null;
        let issue_list = null;
        let pull_request_list = null;
        let user = null;
        let repo = null;

        $("#insert_button").click(function() {
            $("#prepare").replaceWith("<div id='prepare'>준비중 ...</div>");
            $.ajax({
                type: "POST",
                url: "/input",
                data: {user: $("#insert_user").val(), repo: $("#insert_repo").val()},
                dataType: "JSON",
                success: function(data) {
                    user = $("#insert_user").val();
                    repo = $("#insert_repo").val();

                    git_readme = data["git_readme"];
                    issue_list = data["issue_list"];
                    pull_request_list = data["pull_request_list"];

                    showGitReadMe(git_readme);
                },
                error: function (xhr, status, error) {
                    console.log("Error 발생");
                    console.log(error);
                }
            })
        });

        $("#notificator").click(function() {
            let something_changed = null;

            $("#notificator").replaceWith("<div id='notificator'>알림 작동 중 ...</div>");
            $.ajax({
                type: "POST",
                url: "/noti",
                data: {issue_len: issue_list.length, pull_req_len: pull_request_list.length, user: user, repo: repo},
                dataType: "JSON",
                success: function(data) {
                    git_readme = data["git_readme"];
                    issue_list = data["issue_list"];
                    pull_request_list = data["pull_request_list"];
                    something_changed = data["something_changed"]
                    $("#notificator").replaceWith(
                        "<button id='notificator'>Noti 알림 ON</button>" +
                        "<div id='check_or'>변경사항 발견 : " + something_changed + "</div>"
                    );
                },
                error: function (xhr, status, error) {
                    console.log("Noti Error 발생");
                    console.log(error);
                }
            })
        });

        $("#change_readme").click(function() {
            showGitReadMe(git_readme)
        });

        $("#change_issue").click(function() {
            showIssueList(issue_list)
        });

        $("#change_pull_request").click(function() {
            showPullRequestList(pull_request_list)
        });

        function showGitReadMe(git_readme) {
            $("#prepare").replaceWith("<div id='prepare'></div>");
            let div_html = $("#prepare").html(git_readme);
            $("#show").after(div_html)
        }

        function showIssueList(issue_list) {
            $("#prepare").replaceWith("<ul id='prepare'></ul>");

            issue_list.forEach(issue => {
                $("#prepare").append("<li>" + issue + "</li>");
            })
        }

        function showPullRequestList(pull_request_list) {
            $("#prepare").replaceWith("<ul id='prepare'></ul>");

            pull_request_list.forEach(pull_request => {
                $("#prepare").append("<li>" + pull_request + "</li>");
            })
        }
    })
</script>
<body>
    <div id="insert">
        <label><input type="text" id="insert_user" placeholder="User"/></label>
        <label><input type="text" id="insert_repo" placeholder="Repository"/></label>
        <button id="insert_button">호출</button>
    </div>
    <div>
        <button id="change_readme">Readme 보기</button>
        <button id="change_issue">Issue 확인</button>
        <button id="change_pull_request">Pull request 확인</button>
        <button id="notificator">Noti 알림 ON</button>
        <input type="hidden" id="noti_switch" name="noti_switch" value="False"/>
    </div>
    <div id="show">
        <div id="prepare"></div>
    </div>
</body>
</html>